:root {
  --bg-1: rgb(0, 10, 25);
  --bg-2: rgb(0, 20, 35);
  --bg-3: rgb(0, 30, 45);
  --bg-4: rgb(0, 40, 55);
  --font-1: #ffffff;
  --font-2: #9b9b9b;
  --accent: rgb(250, 50, 50);
  --border: 15px;
  --glow: 0px 0px 5px 5px var(--accent);
  --text-glow: 0px 0px 8px var(--font-2);
}

#root,
.App,
body,
html {
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--bg-1);
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand';
  overflow: hidden;
  text-align: center;
  transition: 250ms ease-in;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.fullscreen {
  height: 100dvh;
  width: 100dvw;
  color: var(--font-1);
}

.inserted {
  height: 90dvh;
  width: 100dvw;
}

.navbar {
  width: 100dvw;
  height: 10dvh;
}